.logo{
    background-color: brown;
    height: 200px;
    width: 100%;
}

.menu{
background-color: black;
height: 70px;
width: 100%;
display: flex;
}

.boton{
background-color: rgb(138, 82, 82);
height: 68px;
width: 110px;
margin: 2px;
}

.contenedor{
background-color: gray;
width: 100%;
height: 800px;
display: flex;
background-repeat: repeat;
}

.izquierdo{
background-color: green;
width: 20%;
height: 2600px;
}

.centro{
background-color: red;
width: 60%;
height: 2600px;
}

.derecho{
    background-color: yellowgreen;
    width: 20%;
    height: 2600px;
}

.texto{
font-size: 20px;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textotecno{
    font-size: 18px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.titulo{
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo2{
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(131, 238, 238);
}

.imagen{
 background-image: url("impresora.jpg");
 height: 270px;
 width: 300px;
}

.titulo3{
    font-size: 40px;
    text-align: center;
    font-family: monospace;
    color: blue;
}

.textoelectro{
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    }

    .titulo4{
        font-size: 40px;
        text-align: center;
        font-family: fantasy;
        color: aqua;
    }
    
.textoexcel{
font-size: 20px;
text-align: left;
font-family: 'Courier New', Courier, monospace;
}

.imagen2{
    background-image: url("WhatsApp\ Image\ 2024-02-10\ at\ 4.46.18\ PM.jpeg");
    height: 400px;
    width: 700px;
   }

   .textoexcel2{
    font-size: 20px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .imagen3{
        background-image: url("23563bc1-0df4-451e-88c5-2ea5aee508e7.jpg");
        height: 500px;
        width: 700px;
       }
       .imagen4{
        background-image: url("WhatsApp\ Image\ 2024-02-10\ at\ 4.46.44\ PM.jpeg");
        height: 400px;
        width: 700px;
       }